h1, h2, h3 {
  color: #333;
  margin-bottom: 1rem;
}
h1 {
  text-align: center;
  margin-bottom: 2rem;
}
h3{
  margin-top: 1rem;
}

strong {
  color: #555;
}

.content {
  display: flex; /* Utilisation de Flexbox pour aligner les éléments côte à côte */
  justify-content: space-between; /* Espacement entre les deux sections */
  gap: 2rem; /* Espace entre les deux sections */
}

.form-content {
  flex: 2; /* La section form-content prend toute la place disponible */
}
.form-content p{
  margin-top: 30px;
}

.tool-content {
  flex: 1; /* La section tool-content prend également toute la place disponible */
}

/* Liste des pièces */
.piece-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Permet de passer à la ligne si les éléments débordent */
  gap: 0.5rem;
  list-style-type: none;
  padding: 0;
  margin: 1rem 0;
}

/* Élément individuel */
.piece-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 0.75rem 1rem;
  margin-bottom: 0.5rem;
  flex: 1 1 calc(20% - 1rem); /* 3 éléments par ligne */
  max-width: calc(20% - 1rem); /* Empêche les débordements */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.piece-item:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/* Bouton supprimer */
.delete-button {
  background-color: #4A3B2F;
  color: white;
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #7D6349;
}

/* Formulaire */
form {
  margin-bottom: 2rem;
}

form label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
}

form input[type="number"] {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

form button {
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: #4A3B2F;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

form button:hover {
  background-color: #7D6349;
  transform: scale(1.05);
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Espacement entre les champs */
}

.form-group label {
  width: 250px; /* Largeur fixe pour aligner les labels */
  margin-right: 10px; /* Espacement entre le label et l'input */
  font-weight: bold;
}

.form-group input {
  flex: 1; /* Prend toute la place restante */
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}


/* Visualisation */
.visualization {
  margin-top: 2rem;
}

/* Téléchargement */
.download-button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: #4A3B2F;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.download-button:hover {
  background-color: #7D6349;
  transform: scale(1.05);
}
