/* Style du footer */
html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  scroll-behavior: auto !important;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  justify-content: left;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  padding: 0.75rem;
  max-width: calc(40% - 1rem);
  transition: transform 0.2s ease;
}
.footer-links li:hover{
  transform: translateY(-3px);
}

footer {
  width: 100%;
  background-color: #4A3B2F;
  color: white;
  text-align: center;
  padding: 10px 0px;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
}

.Newsletter {
  margin: 0px 5%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
}

.Newsletter-form {
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 30%;
}

.Newsletter-form h3, .links h3 {
  margin-bottom: 0;
  width: 90%;
}

.Newsletter-form h3 span, .links h3 span {
  color: #fff;
}

.Newsletter-form form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 90%;
}

.Newsletter-form form input {
  height: 40px;
  width: 100%;
  border-radius: 10px;
  outline: none;
  padding: 10px;
  font-size: 15px;
  border: 1px solid #8b5e3c;
  background-color: #f5f5f5;
}

.Newsletter-form form textarea {
  height: 100px;
  width: 100%;
  border-radius: 10px;
  outline: none;
  padding: 10px;
  font-size: 15px;
  border: 1px solid #8b5e3c;
  resize: vertical;
}

.Newsletter-form .submit {
  background-color: #8b5e3c;
  color: #fff;
  border: none;
  height: 40px;
  margin-top: 0;
  padding-bottom: 3px;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.Newsletter-form .submit:hover {
  background-color: #a67c52;
  transform: scale(1.05);
}

.Newsletter-form button:active {
  background-color: #7d6349;
  transform: scale(1);
  border: 2px solid #5c3b26;
}

.Newsletter-content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.links {
  font-size: 20px;
  font-weight: 500;
  width: 60%;
  display: flex;
  flex-direction: column;
}

.links h3 {
  text-align: left;
  margin-top: 20px;
}
.links ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-top: 10px;
}
.links ul li {
  background-color: #4a3b2f;
  border-color: white;
  text-align: left;
  margin-bottom: 0;
  padding: 5px 10px;
}

.links ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.links ul li a:hover {
  color: #8b5e3c;
}

.Newsletter-img {
  width: 30%;
  position: absolute;
  top: -120px;
  right: 0;
  text-align: right;
  filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.314));
}
.Newsletter-img img {
  width: 20px;

}
.Newsletter-img img {
  overflow-x: hidden;
  width: 300px;
}

.footer-buttom{
  display: flex;
  justify-content: space-between;
  margin: 50px 5%;
}

.footer-bottom {
  padding-top: 15px;
  font-size: 14px;
}

.footer-buttom p{
  width: 50%;
  font-size: 15px;
  font-weight: 600;
}

/* Responsive Styles */
@media (max-width: 1450px) {
  .Newsletter {
    flex-direction: column;
    align-items: center;
  }

  .Newsletter-form {
    width: 40%;
  }

  .links {
    width: 100%;
    margin-left: 0;
    margin-right: 45px;
    align-items: center;
    text-align: center;
  }

  .links h3 {
    text-align: center;
    margin-left: 45px;
  }

  .links ul {
    align-items: center; /* Centre les éléments de la liste */
  }

  .links ul li {
    width: 100%;
    white-space: nowrap; /* Ensure text stays on one line */
  }

  .Newsletter-form form, .Newsletter-form h3, .links h3 {
    width: 100%;
  }

  .Newsletter-img {
    display: none;
  }

  .footer-buttom {
    flex-direction: column;
    align-items: center;
    margin: 20px 5%;
  }

  .footer-buttom p {
    width: 90%;
    text-align: center;
  }
}

@media (max-width: 768px) {
  footer{
    width: 100%;
  }
  .Newsletter {
    flex-direction: column;
    align-items: center;
  }

  .Newsletter-form {
    width: 190%;
  }
  
  .links {
    width: 100%;
    margin-left: 0;
    margin-right: 45px;
    align-items: center;
    text-align: center;
  }

  .links h3 {
    text-align: center;
    margin-left: 45px;
  }

  .links .footer-links {
    align-items: center; /* Centre les éléments de la liste */
  }

  .links .footer-links li {
    width: 100px;
    white-space: nowrap; /* Ensure text stays on one line */
  }

  .Newsletter-form form, .Newsletter-form h3, .links h3 {
    width: 100%;
  }

  .Newsletter-img {
    display: none;
    width: 1%;
  }

  .footer-buttom {
    flex-direction: column;
    align-items: center;
    margin: 20px 5%;
  }

  .footer-buttom p {
    width: 90%;
    text-align: center;
  }
}