/* Téléchargement */
.download-button {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px 20px;
  background-color: #4A3B2F;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.download-button:hover {
  background-color: #634c3d;
  transform: scale(1.05);
}